@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    width: 100%;
    font-family: "figtree";
    background-color:  hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    border: 1px solid black;
    padding: 1.5rem;
    max-width: 384px;
    border-radius: 20px;
    box-shadow: 8px 8px 0 black;
}

.image {
    height: 12.5rem;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.elements{
    padding: 1.5rem 0;
}

.boxtext{
    background-color:hsl(47, 88%, 63%);
    border-radius: 4px;
    font-weight: 800;
    font-size: 0.875rem;
    padding: 5px 10px;
    line-height: 150%;
    width:fit-content;
}

.details {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0.75rem 0;
    line-height: 150%;

}

.heading{
    line-height: 150%;
    font-weight: 800;
    font-size: 1.625rem;
    margin: 0.75rem 0;
    width: fit-content;
}

.heading:hover{
    color: hsl(47, 88%, 63%);
    transition: color 0.2s ease;
}

.maintext {
    color:  hsl(0, 0%, 42%);
    line-height: 150%;
    font-weight: 500;
    font-size: 1rem;    
}

.grey h2{
    display: flex;
    align-items: center;
}

.grey img{
    height: 30px;
}
.grey h2{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 150%;
    text-indent: 0.75rem;
}

.attribution { 
    font-size: 1rem;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1.5rem;
    margin-left: 0.25rem;
}

.attribution a { 
    color: hsl(0, 0%, 0%); 
}

@media (min-width:27.25rem){

    body{
   
    }
}
